In [1]:
import pandas as pd
from sqlalchemy import create_engine
from pandas.io.json import json_normalize
import json

In [2]:
## we will first read all the csv files and load them into data frames.
us_file = "./USvideos.csv"
gb_file = "./GBvideos.csv"
ca_file = "./CAvideos.csv"
de_file = "./DEvideos.csv"

In [3]:
###converting the CSV files into df so that we can start with pre processing of the data
us_df=pd.read_csv(us_file)
gb_df=pd.read_csv(gb_file)
ca_df = pd.read_csv(ca_file)
de_df = pd.read_csv(de_file)

In [4]:
us_df.head()

##as we can see that this does not have country name in it , so we will add column country name in it.

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [5]:
###now we will import the json files that contains the data for the categories
us_json='./US_category_id.json'
ca_json='./CA_category_id.json'
gb_json='./GB_category_id.json'
de_json='./DE_category_id.json'

In [6]:
###converting the json files into pandas dataframe
us_json_df=pd.read_json(us_json)
ca_json_df=pd.read_json(ca_json)
gb_json_df=pd.read_json(gb_json)
de_json_df=pd.read_json(de_json)
type(us_json)

str

In [7]:
us_json_df.head()
ca_json_df.head()

,kind,etag,items
0,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
1,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
2,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
3,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."
4,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld..."

In [8]:
##adding country name in trending file dataframes
new_us_df = us_df[['video_id', 'trending_date', 'title','channel_title', 'category_id', 'publish_time', 'views', 'likes','dislikes', 'comment_count'  ]].copy()
new_us_df.insert(1,'country','US')
new_us_df.head()

##now we will do this for all the other countries that we have as well.

new_ca_df = ca_df[['video_id', 'trending_date', 'title','channel_title', 'category_id', 'publish_time', 'views', 'likes','dislikes', 'comment_count'  ]].copy()
new_ca_df.insert(1,'country','CA')
new_us_df.head()

new_de_df = de_df[['video_id', 'trending_date', 'title','channel_title', 'category_id', 'publish_time', 'views', 'likes','dislikes', 'comment_count'  ]].copy()
new_de_df.insert(1,'country','DE')
new_de_df.head()

new_gb_df = gb_df[['video_id', 'trending_date', 'title','channel_title', 'category_id', 'publish_time', 'views', 'likes','dislikes', 'comment_count'  ]].copy()
new_gb_df.insert(1,'country','GB')
new_gb_df.head()

,video_id,country,trending_date,title,channel_title,category_id,publish_time,views,likes,dislikes,comment_count
0,Jw1Y-zhQURU,GB,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,7224515,55681,10247,9479
1,3s1rvMFUweQ,GB,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,1053632,25561,2294,2757
2,n1WpP7iowLc,GB,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,17158579,787420,43420,125882
3,PUTEiSjKwJU,GB,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,27833,193,12,37
4,rHwDegptbI4,GB,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,9815,30,2,30

In [9]:
#we need to clean this and extract the categorty so that we can category id in our final trending stats
us_details=[]

for item in us_json_df["items"]:
    title= item['snippet']['title']
    id=int(item['id'])
    us_details.append({'title':title, 'id':id})
    
gb_details=[]

for item in gb_json_df["items"]:
    title= item['snippet']['title']
    id=int(item['id'])
    gb_details.append({'title':title, 'id':id})
    
de_details=[]
for item in de_json_df["items"]:
    title = item["snippet"]["title"]
    id = int(item["id"])
    de_details.append({"title":title, "id":id})
    
ca_details=[]
for item in ca_json_df["items"]:
    title = item["snippet"]["title"]
    id = int(item["id"])
    ca_details.append({"title":title, "id":id})

In [10]:
##this containts information abot the category 

us_details[:5]

[{'title': 'Film & Animation', 'id': 1},
 {'title': 'Autos & Vehicles', 'id': 2},
 {'title': 'Music', 'id': 10},
 {'title': 'Pets & Animals', 'id': 15},
 {'title': 'Sports', 'id': 17}]

In [11]:
###Now we are updating the data into our new data frames
us_json_df_clean=pd.DataFrame(us_details)
us_json_df_clean.rename(columns = {"id":"category_id","title":"category_title"},inplace=True)

gb_json_df_clean=pd.DataFrame(gb_details)
gb_json_df_clean.rename(columns = {"id":"category_id","title":"category_title"},inplace=True)

ca_json_df_clean=pd.DataFrame(ca_details)
ca_json_df_clean.rename(columns = {"id":"category_id","title":"category_title"},inplace=True)

de_json_df_clean=pd.DataFrame(de_details)
de_json_df_clean.rename(columns = {"id":"category_id","title":"category_title"},inplace=True)


us_json_df_clean.head()
ca_json_df_clean.head()

     category_title  category_id
0  Film & Animation            1
1  Autos & Vehicles            2
2             Music           10
3    Pets & Animals           15
4            Sports           17

In [12]:
print (new_us_df['category_id'].dtypes)

int64

In [13]:
# merging the csv df with the cleaned json df
us_merged_df = pd.merge(new_us_df ,us_json_df_clean , how = "left", on = ["category_id","category_id"])
gb_merged_df = pd.merge(new_gb_df ,gb_json_df_clean , how = "left", on = ["category_id","category_id"])
ca_merged_df = pd.merge(new_ca_df ,ca_json_df_clean , how = "left", on = ["category_id","category_id"])
de_merged_df = pd.merge(new_de_df ,de_json_df_clean , how = "left", on = ["category_id","category_id"])

In [14]:
us_merged_df.head()

,video_id,country,trending_date,title,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,category_title
0,2kyS6SvSYSE,US,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,748374,57527,2966,15954,People & Blogs
1,1ZAPwfrtAFY,US,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,2418783,97185,6146,12703,Entertainment
2,5qpjK5DgCt4,US,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,3191434,146033,5339,8181,Comedy
3,puqaWrEC7tY,US,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,343168,10172,666,2146,Entertainment
4,d380meD0W0M,US,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,2095731,132235,1989,17518,Entertainment

In [15]:
###now we will merge all the country df together and then convert them into csv
final_df=pd.concat([us_merged_df,ca_merged_df,gb_merged_df,de_merged_df])
final_df = final_df.reset_index(drop=True)
final_df.insert(0,'ID',range(1,1+len(final_df)))
final_df=final_df.set_index('ID')

final_df.head()

,video_id,country,trending_date,title,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,category_title
ID,,,,,,,,,,,,
1,2kyS6SvSYSE,US,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,748374,57527,2966,15954,People & Blogs
2,1ZAPwfrtAFY,US,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,2418783,97185,6146,12703,Entertainment
3,5qpjK5DgCt4,US,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,3191434,146033,5339,8181,Comedy
4,puqaWrEC7tY,US,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,343168,10172,666,2146,Entertainment
5,d380meD0W0M,US,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,2095731,132235,1989,17518,Entertainment

In [16]:
##now we will convert it to csv , then we can load it to our mongoDB
final_df.to_csv('./final.csv')

In [17]:
import pymongo

In [18]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [19]:
db = client.youtubeTrending_DB

In [20]:
db.videos.insert_many(final_df.to_dict('records'))

In [25]:
db.videos.find({"trending_date":"17.14.11"})